.transition-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.transition-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.transition-card:hover {
    transform: scale(1.1);
}
.card {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.bolgTitle {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Roboto Condensed", serif;

}