main{
    margin-top: 180px;
}
.carousal{
    width: 100%;
    height: calc(100% - 200px);
}
.bookDesc{
    width: 80%;
    height: 570px;
    display: flex;
    flex-direction: column;
    /*background-color: rosybrown;*/
    margin: auto;

}
.imgCarousal{
    width: 55%;
    height: 570px;

}
.carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", serif;
}
.caption-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    width: 50%;
}
.about{
    width: 90%;
    height: auto;
    margin: 40px auto;
}
.aboutStory {
    width: 330px;
    height: 200px;
}
.image-background {
    width: 100%;
    height: 550px;
    opacity: 0.3;
}
.description {
    font-family: "Roboto Condensed", serif;
    font-weight: 700;
}
.topic-paragraph {
    font-size: 20px;
    font-family: "Roboto Condensed", serif;
}
