.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    border: 1px solid #333;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;

}
.popup-active {
    display: block;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Below pop-up */
}
.popup-overlay-active {
    display: block;
}
.login-title, .register-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: "Roboto Condensed", serif;

}
.popup-overlay {
    transition: opacity 0.3s ease;
}
.popup-overlay {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}